/* styles.css */
body {
  background-color: #fff;
  }
  
#main {
  display: grid;
  grid-template-columns: 1fr 5fr 1fr;
  height: 100vh;
  margin: 0;
  }
  
#left {
  grid-column: 1 / 2;
}

#middle {
  grid-column: 2 / 3;
}

#right {
  grid-column: 3 / 4;
}

.subFolders {
  list-style-type: none;
  transition: transform 0.3s;
}
.subFolders:hover {
  transform: scale(1.3);
}
.subFolders:focus {
  background-color: antiquewhite;
}
